<div class="ui grid">

  <div class="sixteen wide column">
    <h1 class="ui header">{{profile.fullName}}
      <div class="sub header">
        <div class="ui horizontal link list">
          <div class="item">ID: 1234</div>
          <div class="item">Ex-Worker</div>
          <div class="item">Semisul Bulgaria</div>
        </div>
      </div>
    </h1>
  </div>

  <div class="sixteen wide column">
    <h2 class="ui dividing medium header top attached">
      <i class="user icon"></i>
      <div class="content">Main Info</div>
    </h2>
    <div class="ui segment bottom attached">
      <div class="ui grid">
        <div class="eight wide column">
          <table class="ui very basic compact table">
            <tbody>
              <tr>
                <td>Date of Birth:</td>
                <td>12 January 1978</td>
              </tr>
              <tr>
                <td>Place of Birth:</td>
                <td>Topolovgrad</td>
              </tr>
              <tr>
                <td>Civil status:</td>
                <td>Single</td>
              </tr>
              <tr>
                <td>Nationality:</td>
                <td>Bulgarian</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="eight wide column">
          <table class="ui very basic table">
            <tbody>
              <tr>
                <td class="six wide">Father Name:</td>
                <td class="ten wide">Stoyan</td>
              </tr>
              <tr>
                <td>Mother Name:</td>
                <td>Velichka</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="eight wide column">
    <h2 class="ui dividing medium header top attached">
      <i class="alarm icon"></i>
      <div class="content">Emergency</div>
    </h2>
    <div class="ui segment bottom attached">
      <b>John Smith</b> at <b>+1 617 555 1122</b>
    </div>
  </div>

  <div class="eight wide column">
    <h2 class="ui dividing medium header top attached">
      <i class="user icon"></i>
      <div class="content">Clothing</div>
    </h2>
    <div class="ui segment bottom attached">
      <table class="ui very basic table">
        <tbody>
          <tr>
            <td class="six wide">Shoe Number</td>
            <td class="ten wide">41</td>
          </tr>
          <tr>
            <td>Coat Size</td>
            <td>48</td>
          </tr>
          <tr>
            <td>Suit Size</td>
            <td>48</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="sixteen wide column">
    <h2 class="ui dividing medium header top attached">
      <div class="content">Additional Info</div>
    </h2>
    <div class="ui segment bottom attached">
      This is some interesting information about this guy. Super likeable.
    </div>
  </div>
</div>
