<div class="ui container" style="margin-right: 220px !important; max-width: 960px !important; width: auto !important">
  <div class="ui grid" id="main-profile">
    <div class="sixteen wide column">
      <div class="ui segment">
        <div class="ui items">
          <div class="item">
            <div class="image">
              <img src="/assets/images/patrick.png">
            </div>
            <div class="content">
              <h1 class="ui header">{{profile.fullName}}</h1>
              <div class="description">
                <div class="ui horizontal divided list">
                  <div class="item">Ex-Worker</div>
                  <div class="item">Bulgarian</div>
                  <div class="item">Welder</div>
                </div>
                <p><b>45</b> years old. Born on <strong>October 10th 1985</strong> in <strong>Topolovgrad, Bulgaria</strong>.</p>
                <p>Mother: <strong>Velichka</strong> Father: <strong>Stroyan</strong></p>
                <p> Has <strong>2</strong> children. 10 and 12 years old. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sixteen wide column">
      <div class="ui segments">
        <div class="ui segment">
          <h2 class="ui blue header">Skills</h2>
          <a class="ui label">Welder</a>
          <a class="ui label">Welder 111+141</a>
          <a class="ui label">Installation of equipement and marine technology</a>
          <a class="ui label">locksmith welder</a>
        </div>

        <div class="ui segment">
          <h2 class="ui blue header">Languages</h2>
          <div class="ui label">Advanced English</div>
          <div class="ui label">Basic French</div>
        </div>


        <div class="ui segment">
          <h2 class="ui blue header">Contact Information</h2>
          <h3 class="ui blue header">Telephone/Mobile/Email</h3>

          <div class="ui orange message">
            In case of emergency call <b>John Smith</b> at <b>+1 617 555 1122</b>
          </div>

          <div class="ui stackable cards">
            <div class="card">
              <div class="content">
                <i class="phone icon left floated"></i>
                <div class="header">+35 989 484 9258</div>
                <div class="meta">Home</div>
                <div class="description">
                  <p>Some additional information</p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="content">
                <i class="phone icon left floated"></i>
                <div class="header">+35 989 484 9258</div>
                <div class="meta">Mobile</div>
              </div>
            </div>

            <div class="card">
              <div class="content">
                <i class="mail outline left floated icon"></i>
                <div class="header"><a>my_email@gmail.com</a></div>
                <div class="meta">Email</div>
              </div>
            </div>
          </div>

          <h3 class="ui blue header">Address</h3>

          <div class="ui stackable cards">
            <div class="card">
              <div class="content">
                <div class="header">ul. Zwierzowska 90, <br/>05-500 Piaseczno, Poland</div>
                <div class="meta">Correspondence</div>
              </div>
            </div>

            <div class="card">
              <div class="content">
                <div class="header">Complex Czerniakow, 605 Building, 3 Entrance, 7 Floor, 54 Apartment, <br/ >
                  9000 Varna, Bulgaria</div>
                <div class="meta">Home</div>
              </div>
            </div>
          </div>
        </div>

        <div class="ui segment">
          <h2 class="ui blue header">Bank Accounts</h2>
          <div class="ui stackable cards">
            <div class="ui card">
              <div class="content">
                <div class="header">
                  Millenium Bank
                </div>
                <div class="description">
                  <table class="ui very basic table">
                    <tbody>
                      <tr>
                        <td>IBAN:</td>
                        <td>123891283912839812</td>
                      </tr>
                      <tr>
                        <td>NIB:</td>
                        <td>123891283912839812</td>
                      </tr>
                      <tr>
                        <td>Currency:</td>
                        <td>Euro</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="ui card">
              <div class="content">
                <div class="header">
                  Millenium Bank
                </div>
                <div class="description">
                  <table class="ui very basic table">
                    <tbody>
                      <tr>
                        <td>IBAN:</td>
                        <td>123891283912839812</td>
                      </tr>
                      <tr>
                        <td>NIB:</td>
                        <td>123891283912839812</td>
                      </tr>
                      <tr>
                        <td>Currency:</td>
                        <td>Euro</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="content">
                Additional Info
              </div>
            </div>
          </div>
        </div>

        <div class="ui segment">
          <h2 class="ui blue header">Clothes</h2>
          <div class="ui label">
            Shoe Size <div class="detail">41</div>
          </div>
          <div class="ui label">
            Suit Size <div class="detail">52-L</div>
          </div>
          <div class="ui label">
            Coat Size <div class="detail">52-L</div>
          </div>
        </div>

      </div>

      <div class="ui segment">
        <h2 class="ui blue header">Notes</h2>
        <p>Edited by Irina Savova</p>
      </div>

      <div class="ui segment" id="contracts">
        <h2 class="ui blue header">Contracts</h2>
        <div class="ui divided items">
          <div class="item">
            <div class="content">
              <div class="header">
                Husky Sunrise Project
              </div>
              <div class="meta">
                <span class="from">Signed</span>
                <span>|</span>
                <span class="from">10-09-2015</span>
                <span>-</span>
                <span class="from">10-09-2017</span>
                <span>|</span>
                <span>EURO 1200</span>
                <span>(EURO 12/h)</span>
              </div>
              <div class="description">
                <table class="ui very basic compact table">
                  <tr>
                    <td>Departure:</td>
                    <td>10-01-2015</td>
                    <td>Airplane</td>
                  </tr>
                  <tr>
                    <td>Return:</td>
                    <td>10-10-2017</td>
                    <td>Train</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <div class="header">
                Husky Sunrise Project
              </div>
              <div class="meta">
                <span class="from">Signed</span>
                <span>|</span>
                <span class="from">10-09-2015</span>
                <span>-</span>
                <span class="from">10-09-2017</span>
                <span>|</span>
                <span>EURO 1200</span>
                <span>(EURO 12/h)</span>
              </div>
              <div class="description">
                <table class="ui very basic compact table">
                  <tr>
                    <td>Departure:</td>
                    <td>10-01-2015</td>
                    <td>Airplane</td>
                  </tr>
                  <tr>
                    <td>Return:</td>
                    <td>10-10-2017</td>
                    <td>Train</td>
                  </tr>
                </table>
                <div class="ui label">
                  Attitude Evaluation:
                  <div class="detail">4.5</div>
                </div>
                <div class="ui label">
                  Technical Evaluation:
                  <div class="detail">4.5</div>
                </div>
                <div class="ui label">
                  Average Evaluation:
                  <div class="detail">4.5</div>
                </div>
              </div>
              <div class="extra">
                <div class="ui small feed">
                  <div class="event">
                    <div class="content">
                      <div class="summary">
                        Took of from 2014-10-01 to 2014-11-10 - holidays
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
