<div class="whole-page-container">
  <div class="main-ui">
    {{tt-side-menu}}

    <div class="view-container">
      <div class="ui borderless menu">
        <a class="item"> Profiles </a>
        <a class="item"> Contracts </a>
      </div>

      <div class="view-container__content">
          {{outlet}}
      </div>
    </div>
  </div>
</div>
